$icon-button-height: theme("height.12");
$icon-button-width: theme("width.12");

$layout-header-height: theme("height.16");

$layout-header-logo-height: theme("height.12");
$layout-header-logo-width: theme("width.12");

$layout-header-avatar-height: theme("height.12");
$layout-header-avatar-width: theme("width.12");
