@import "abstracts/variables";

.menu {
  @apply w-full flex flex-col items-center h-full;
  @apply list-none;

  #{&}__item {
    @apply w-full text-sm;
    color: $menu-item-text-color;

    &:hover {
      .menu__link:not(.menu__link--active) {
        background-color: $menu-item-bg-color-hover;
      }
    }
  }

  #{&}__link {
    @apply flex items-center rounded-sm;
    @apply cursor-pointer;

    height: $menu-item-height;
    background-color: $layout-sidenav-bg-color;
    transition: all 0.3s ease;

    &--active {
      @apply font-bold;
      background-color: $menu-item-bg-color-active;
    }
  }
}

.menu-item {
  &__icon {
    @apply text-center my-0 mx-1 w-8;
    min-width: 2rem;
  }

  &__label {
    @apply ml-2;
  }
}
